// Font styles
// $font-primary: 'Amiko', sans-serif;
// $font-secondary: 'Adamina', serif;

// Colors
$bg-color: #e4d9d9;

// $text-primary: #292B83;
// $text-grey: #7B7B7B;

$color-brand: #f95b5b;
$color-accent: #F6A58C;