// Font styles
// $font-primary: 'Amiko', sans-serif;
// $font-secondary: 'Adamina', serif;

// Colors
$bg-color: #e4d9d9;

// $text-primary: #292B83;
// $text-grey: #7B7B7B;

$color-brand: #FF85B4;
$color-accent: #FDFB75;
$color-green: #6EC4AA;
$color-danger: #DA0822;