// Font styles
// $font-primary: 'Amiko', sans-serif;
// $font-secondary: 'Adamina', serif;

// Colors
$bg-color: #F1F3F4;

// $text-primary: #292B83;
// $text-grey: #7B7B7B;

$color-brand: #EF4E42;
$color-accent: #F6A58C;