@import url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css);

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700&display=swap');

body{
    background-color: white;
}

.bg-dark{
    background-color: white !important;
}
.badge-primary{
    background-color: #808080;
    border-color: #808080;
}

.navbar-dark{
    .navbar-nav{
        .nav-link{
            color:black;
            font-weight: 600;
        }
    }
}
.btn.btn-primary{
    background-color: #000;
    border-color: #000;
    color: white;
    border-radius: 0;
    &:hover,
    &:active,
    &:focus{
        background-color: #1c1c1c !important;
        border-color: #1c1c1c !important;
        box-shadow:none;
    }
}
.btn-danger, .badge-danger{
    background-color: transparent;
    border-color: #1c1c1c;
    border-radius: 0;
    font-size: 11px;
    color: #1c1c1c;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus{
        background-color: #1c1c1c !important;
        border-color: #1c1c1c !important;
        box-shadow:none;
        color: white;
    }
}
.hide-mobile{
    display: block;
    @media only screen and (max-width: 991px) {
        display: none;
    }
}
.show-mobile{

    display: none;
    @media only screen and (max-width: 991px) {
        display: block;
    }
}