@import url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700;900&display=swap');
@import 'variables';

body{
  background-color: $bg-color;
}

h1 {
  font-size: 60px;
  font-weight: 900;
}

h2 {
  font-size: 40px;
}

h3{
  font-weight: 700;
}

h2{
  font-weight: 700;
  color: black;
}

h4{
  color: #454545;
}

h4 {
  font-weight: 600;
}

.bg-dark{
    background-color: black !important;
}
.badge-primary{
    background-color: #808080;
    border-color: #808080;
}

.button-hero {
  text-align: center;
  color: white;
  background-color: $color-brand;
  width: 200px;
  padding: 15px 22px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 0px $color-accent;
  -moz-box-shadow:    5px 5px 0px $color-accent;
  box-shadow:         5px 5px 0px $color-accent;

  span {
      position: relative;
      z-index: 100;
  }

  &:before, &:after {
      content:'';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
  }

  &:before {
      transform: translate3d(-100%, 0, 0);
      background-color: white;
      transition: transform 300ms ease-in-out;

      span{
        color: black;
      }
  }

  &:after {
      background-color: $color-brand;
      transform: translate3d(100%, 0, 0);
      transition: transform 300ms 300ms cubic-bezier(.16,.73,.58,.62);
  }

  &:hover {
      &:before {
          transform: translate3d(0,0,0);
      }

      &:after {
          transform: translate3d(0,0,0);
      }
  }
}

.button-primary {
  text-align: center;
  color: white;
  background-color: $color-brand;
  padding: 15px 22px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0;

  span {
      position: relative;
      z-index: 100;
  }

  &:before, &:after {
      content:'';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
  }

  &:before {
      transform: translate3d(-100%, 0, 0);
      background-color: white;
      transition: transform 300ms ease-in-out;
  }

  &:after {
      background-color: $color-accent;
      transform: translate3d(100%, 0, 0);
      transition: transform 300ms 300ms cubic-bezier(.16,.73,.58,.62);
  }

  &:hover {
    color: black;
      &:before {
          transform: translate3d(0,0,0);
      }

      &:after {
        transform: translate3d(0,0,0);
      }
  }
}

.button-secondary {
  color: black;
  background-color: transparent;
  border: 2px solid black;
  padding: 12px 22px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  span {
    position: relative;
    z-index: 100;
  }

  &:before, &:after {
      content:'';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
  }

  &:before {
      transform: translate3d(-100%, 0, 0);
      border: 2px solid white;
      background-color: white;
      transition: transform 300ms ease-in-out;
  }

  &:after {
      background-color: $color-brand;
      transform: translate3d(100%, 0, 0);
      transition: transform 300ms 300ms cubic-bezier(.16,.73,.58,.62);
  }

  &:hover {
    border: 2px solid $color-brand;
      &:before {
          transform: translate3d(0,0,0);
      }

      &:after {
        transform: translate3d(0,0,0);
      }

      span{
        color: white;
      }
  }
}

.btn-checkout{
  background-color: $color-green;
  color: white;
  border: none;
  border-radius: 0;
  padding: 15px 22px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  font-weight: 700;
  width: 120px;

  &:hover,
  &:active,
  &:focus{
    background-color: darken($color-green, 15%) !important;
    transition: all .3s ease-in-out
  }
}
.btn-danger, .badge-danger{
    background-color: transparent;
    border:none;
    text-decoration: underline;
    font-size: 11px;
    color: $color-danger;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus{
      text-decoration: none;
    }
}
.form-control{
  height: 48px !important;
}
.hide-mobile{
    display: block;
    @media only screen and (max-width: 991px) {
        display: none;
    }
}
.show-mobile{
    display: none;
    @media only screen and (max-width: 991px) {
        display: block;
    }
}

select {
  border-radius: 0;
  appearance: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='13.446px' height='8.076px' enable-background='new 0 0 13.446 8.076' xml:space='preserve'%3E%3Cpolyline fill='none' stroke='%23535453' stroke-width='3' stroke-miterlimit='10' points='13.269,0.177 6.723,6.723 0.177,0.177 '/%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  cursor: pointer;
}
